@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">
        Basic Inventory Management System<h1/>
        <img src="~/Image/pic.jpg" class="img-fluid" />
    </h1>
</div>
